@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Hindu Temple of Greater Tulsa</h1>
    <p class="lead">The Hindu Temple of Greater Tulsa was established in the year 2001   to serve the devotional, cultural and spiritual needs of the Hindu community in and around Tulsa.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Announcment</h2>
        <p>Sri Ganesh Chaturthi Celebrations On Saturady August 30th 2014 from 9:00 AM to 12:00 Noon</p>
        <p>Onam Celebrations On Sunday September 7th 2014 from 9:00 AM to 12:00 Noon</p>
        <p><a class="btn btn-default" href="#">View more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Abhishekam to Sri Maha Lakshmi - 1st Friday</p>
        <p>Abhishekam to Sri Venkateswara Swamy - 2nd Saturday</p>
        <p>Group Satya Narayana Katha - Full Moon Day</p>
        <p>Abhishekam to Lord Ganesha / Sankashtahara Chathurthi - 4th day fom Full Moon</p>
        <p><a class="btn btn-default" href="#">View more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Address</h2>
        <p>16943 East 21st Street, Tulsa, OK 74134</p>
        <p>Phone: 918-438-3850</p>
        <p><a class="btn btn-default" href="http://goo.gl/fR5VME" target="_blank">Get Directions &raquo;</a></p>
    </div>
</div>